@font-face {
    font-family: "bungee shade";
    src: url("../sidan/fonts/BungeeShade-Regular.ttf")
}

@font-face {
    font-family: "barlow condense light";
    src: url("../sidan/fonts/Barlow_Condensed/BarlowCondensed-Light.ttf");
}

@font-face {
    font-family: "barlow condense bold";
    src: url("../sidan/fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf");
}

@font-face {
    font-family: "bungee outline";
    src: url("../sidan/fonts/Bungee_Outline/BungeeOutline-Regular.ttf");
}

@font-face {
    font-family: "barlow semi condense";
    src: url("../sidan/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf");
}

body {
    margin: 0;

    background-image: url("../sidan/images/background_images.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*Heiht:100%; Ta bort height gör ingen skillnad. Höjden styrs av innehållet*/

#wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    margin: 5vh 10vw;
}

header h1 {
    color: rgba(255, 255, 255, 0.7);
    font-family: "bungee shade";
    font-size: 10vh;
    margin: 2vh;
}

/* använder justify-content för att centrera min nav horisontellt */
/* flex-basis anger storleken på ett item. i detta fallet så har vi flex-direction 0 och därför blir flex-basis:0 att man återställer naven
om man har olika bredd på texten så gör flex-basis att alla texters rutor blir lika stora*/
nav {
    display: flex;
    gap: 0.5vh;
    margin: 6vh 2vh;
}

/* flex-basis gör att alla rutor blir lika stora. Flex-grow gör att alla rutor stretchas ut så mycket dem får plats*/
nav a {
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: "barlow condense light";
    font-size: 3vh;

    padding: 2vh;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    border-radius: 10px;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
}

/*lägger in samma color och background-color som i min "a" för att det inte ska byta färg när jag håller musen över den
lägger till box-shadow för att det ska lysa bakom. sökte på google
background-attachment bestämmer om bakgrundbilden ska vara fast, scroll osv*/
nav a:nth-child(2) {
    border: 1px solid white;
    font-family: "barlow condense bold";
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: auto;
    box-shadow: 0px 0px 5px #fff;
}

/* gap anges i container
anger höjd och bredd i % och då blir det 90% av föräldern (wrapper)
 anger det i procent för att det ska följa med när man krymper och förstorar speciellt om man har mobilverison också
 anger ingen fast höjd eller bredd för innehållet ska styra det*/
/* Tror inte vi behöver
main {
    display: flex;
    flex-direction: column;
}
*/

section {
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin: 1vh 2vh;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}

.top-row {
    display: flex;

    gap: 1vh;
    padding: 2vh 2vh 0.5vh 2vh;
}

/* (display:flex 
   flex-direction: column) 
   Eventuellt ta bort och istället lägga till margins på p*/
.content {
    width: 60%;
    color: rgba(255, 255, 255, 0.8);
}


/*anger font-size i vh för att det ska anpassa sig*/
.content h2 {
    margin: 0;
    font-family: "bungee outline";
    font-size: 4vh;
}

.content h3 {
    font-family: "barlow semi condense";
    font-size: 3vh;

    margin-top: 0;
    margin-bottom: 6vh;
}

.content ul {
    margin-top: 0;
    margin-bottom: 6vh;

    list-style-type: none;
}

.content p:first-of-type {
    margin-bottom: 0;
}

.content ul,
.content p {
    font-family: "barlow condense light";
    font-size: 2vh;
}

.album {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.img-container {
    position: relative;

    width: 100%;
    height: 100%;
}

/*100% av 40% (bredden av sin förälder) vilket gör att den även blir proportionelig, annars hade den blivit jätteinzoomad*/
.album img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.img-container img:first-child {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 1;
    transition: opacity 1s ease;
}

.img-container img:first-child:hover {
    opacity: 0;
}

.list-box {
    display: flex;
    gap: 1vh;
}

/*flexbasis gör att dem två gula boxarna blir lika stora oavsett innehåll.
Flex-basis läggs alltid på barnet
flex-grow för att ta ut 100% av sin förälders bredd*/
.list-box ol {
    background-color: #eecb00;
    color: #bc559a;
    font-family: "barlow condense light";

    flex-basis: 0;
    flex-grow: 1;

    margin: 0;
    padding: 1vw;
}

.list-box li {
    margin-left: 1vw;
    font-size: 1vw;
}

.list-box h4 {
    font-size: 1.5vw;
    margin: 0;
}

.list-box ol:first-child {
    border-radius: 0 0 0 10px;
}

.list-box ol:last-child {
    border-radius: 0 0 10px 0;
}

main> :last-child .list-box ol {
    background-color: #129acf;
    color: #fff;
}

/* börjar med bottom-row och gör den till en grid*/
.bottom-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;

    gap: 1vh;
    padding: 0.5vh 2vh 2vh 2vh;
}

.bottom-row p {
    margin: 0;

    font-size: 1.5vw;
    font-family: "barlow condense light";
    font-weight: bolder;

    display: flex;
    align-items: center;
    padding: 1vw;
}

.bottom-row p:first-child {
    background-color: #bc559a;
    color: #ddbc00;

    grid-column: 1;
    grid-row: 1;
    border-radius: 10px 0 10px 10px;
}

.bottom-row p:nth-child(2) {
    background-color: #bc559a;
    color: #ddbc00;

    grid-column: 3 / span 2;
    grid-row: 1;
    border-radius: 10px 10px 10px 0;
}

/* behöver inte height eftersom den ska få plats i gridens grid men width för att den ska ta upp den fulla bredden*/
.bottom-row img {
    grid-column: 5;
    grid-row: 1;

    height: 100%;
    width: 100%;
    border-radius: 0 10px 10px 10px;
}

.bottom-row p:nth-child(4) {
    grid-column: 5;
    grid-row: 1;


    color: rgba(255, 255, 255, 0.8);
    align-self: end;
}

.bottom-row p:nth-child(5) {
    background-color: #bc559a;
    color: #ddbc00;

    grid-column: 6;
    grid-row: 1;

    border-radius: 10px 10px 0 10px;
}

/*Bottom Section 2*/
main> :last-child .bottom-row p:first-child {
    background-color: #faddac;
    color: #129acf;

    border-radius: 10px 10px 10px 0;

    grid-column: 1/ span 2;
    grid-row: 1;
}

main> :last-child .bottom-row p:nth-child(2) {
    background-color: #faddac;
    color: #129acf;

    border-radius: 0 10px 10px 10px;

    grid-column: 3;
    grid-row: 1;
}

main> :last-child .bottom-row img {
    grid-column: 4/ span 2;
    grid-row: 1;
}

main> :last-child .bottom-row p:nth-child(4) {
    grid-column: 4/span 2;
    grid-row: 1;
}

main> :last-child .bottom-row p:last-child {
    background-color: #faddac;
    color: #129acf;

    grid-column: 6;
    grid-row: 1;
    border-radius: 10px 10px 0 10px;
}

footer {
    padding: 2vh;
}

footer p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 2vh;
    font-family: "barlow condense light";
    margin: 5vh 0 0 0;
}

/*----------Media Queries--------*/
/*--------Mobil version------*/
@media (max-width:500px) {

    body {
        background-image: url(../sidan/images/jimihendrix_mobileversion.jpeg);
    }

    #wrapper {
        margin: 0;
    }

    header h1 {
        text-align: center;
        font-size: 15vw;
    }

    nav a {
        font-size: 3vw;
    }

    .top-row {
        flex-direction: column-reverse;

    }

    .content,
    .album {
        width: 100%;
    }

    .album img {
        border-radius: 10px 0 0 10px;
    }

    .list-box ol {
        padding: 3vw;
    }

    .list-box li {
        margin-left: 2.5vw;
        font-size: 3vw;
    }

    .list-box h4 {
        font-size: 4vw;
    }

    .content h2 {
        font-size: 7vw;
    }

    .content h3 {
        font-size: 5vw;
    }

    .content ul,
    .content p {
        font-size: 4vw;
    }

    .bottom-row {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .bottom-row p:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    .bottom-row p:nth-child(2) {
        grid-column: 2 / span 2;
        grid-row: 1;
    }

    .bottom-row img {
        grid-column: 2;
        grid-row: 2;
    }

    .bottom-row p:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }

    .bottom-row p:nth-child(5) {
        grid-column: 3;
        grid-row: 2;
    }

    .bottom-row p {
        font-size: 3vw;
        padding: 2vw;
    }

    /*Bottom Section 2*/
    main> :last-child .bottom-row p:first-child {
        grid-column: 1/ span 2;
        grid-row: 1;
    }

    main> :last-child .bottom-row p:nth-child(2) {
        grid-column: 3;
        grid-row: 1;
    }

    main> :last-child .bottom-row img {
        grid-column: 1/ span 2;
        grid-row: 2;
    }

    main> :last-child .bottom-row p:nth-child(4) {
        grid-column: 1/span 2;
        grid-row: 2;
    }

    main> :last-child .bottom-row p:last-child {
        grid-column: 3;
        grid-row: 2;
    }

    footer {
        font-size: 4vw;
    }

}

@media (min-width:800px) and (max-width:900px) {
    header h1 {
        font-size: 63px;
    }

    nav a {
        font-size: 18px;
    }

    .content h2 {
        font-size: 22px;
    }

    .content h3 {
        font-size: 16px;
    }

    .content ul,
    .content p,
    .bottom-row p,
    footer p {
        font-size: 12px;
    }
}


/*------desktop version-------*/
@media (min-width:900px) and (max-width:1200px) {
    header h1 {
        font-size: 7vw;
    }

    nav a {
        font-size: 2vw;
    }

    .content h2 {
        font-size: 2.4vw;
    }

    .content h3 {
        font-size: 1.7vw;
    }

    .content ul,
    .content p,
    .bottom-row p,
    footer p {
        font-size: 1.3vw;
    }
}


@media (min-width:1200px) {
    header h1 {
        font-size: 84px;
    }

    nav a {
        font-size: 24px;
    }

    .content h2 {
        font-size: 29px;
    }

    .content h3 {
        font-size: 20px;
    }

    .content ul,
    .content p,
    .bottom-row p,
    footer p {
        font-size: 15.5px;
    }

    .list-box h4 {
        font-size: 18px;
    }

    .list-box li {
        font-size: 12px;
    }

    #wrapper {
        width: 960px;
    }
}

/*kan man lägga en h4 innuti en ol?*/