@font-face {
    font-family: "bungee shade";
    src: url("../sidan/fonts/BungeeShade-Regular.ttf")
}

@font-face {
    font-family: "barlow condense light";
    src: url("../sidan/fonts/Barlow_Condensed/BarlowCondensed-Light.ttf");
}

@font-face {
    font-family: "barlow condense bold";
    src: url("../sidan/fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf");
}

@font-face {
    font-family: "bungee outline";
    src: url("../sidan/fonts/Bungee_Outline/BungeeOutline-Regular.ttf");
}

@font-face {
    font-family: "barlow semi condense";
    src: url("../sidan/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf");
}

/* använder height: 200vh för få scroll, bakgrundsbilder stannar bakom eftersom vi har background-attachment. tar man bort background-attachment så skulle bilden bara vara jätte inzoomad och det blir scroll i bakgrundsbilder*/

body {
    margin: 0;

    background-image: url("../sidan/images/background_images.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*Heiht:100%; Ta bort height gör ingen skillnad. Höjden styrs av innehållet*/

div#wrapper {
    background-color: rgba(0, 0, 0, 0.3);

    margin: 5vw 10vw;
    border-radius: 10px;
}

header h1 {
    color: rgba(255, 255, 255, 0.7);
    font-family: "bungee shade";
    font-size: 6vw;
    margin: 1.5vw;
}

/* använder justify-content för att centrera min nav horisontellt */
/* flex-basis anger storleken på ett item. i detta fallet så har vi flex-direction 0 och därför blir flex-basis:0 att man återställer naven
om man har olika bredd på texten så gör flex-basis att alla texters rutor blir lika stora*/
nav {
    display: flex;
    justify-content: center;
    gap: 0.5vw;
    margin: 5vw 2vw;
}

/* flex-basis gör att alla rutor blir lika stora. Flex-grow gör att alla rutor stretchas ut så mycket dem får plats*/
nav>a {
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: "barlow condense light";
    font-size: 2vw;

    padding: 1vw;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    border-radius: 10px;
}

nav>a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
}

/*lägger in samma color och background-color som i min "a" för att det inte ska byta färg när jag håller musen över den
lägger till box-shadow för att det ska lysa bakom. sökte på google
background-attachment bestämmer om bakgrundbilden ska vara fast, scroll osv*/
nav>a:nth-child(2) {
    border: 1px solid white;
    font-family: "barlow condense bold";
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: auto;
    box-shadow: 0px 0px 5px #fff;
}

/* gap anges i container
anger höjd och bredd i % och då blir det 90% av föräldern (wrapper)
 anger det i procent för att det ska följa med när man krymper och förstorar speciellt om man har mobilverison också
 anger ingen fast höjd eller bredd för innehållet ska styra det*/
main {
    display: flex;
    flex-direction: column;
}

main>section {
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin: 1vw 2vw;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}



main section div.top-row {
    display: flex;

    gap: 1vw;
    margin: 1vw;
}

main section div.content {
    width: 60%;
    color: rgba(255, 255, 255, 0.8);

    display: flex;
    flex-direction: column;
}


/*anger font-size i vw för att det ska anpassa sig*/
div.content h2 {
    margin: 0;
    font-family: "bungee outline";
    font-size: 2.5vw;
}

div.content h3 {
    font-family: "barlow semi condense";
    font-size: 2vw;

    margin-top: 0.5vw;
}

main section div.album {
    width: 40%;

    display: flex;
    flex-direction: column;
    gap: 1vw;

}

/*100% av 40% (bredden av sin förälder) vilket gör att den även blir proportionelig, annars hade den blivit jätteinzoomad*/
main section div.album img {
    width: 100%;

    border-radius: 10px 10px 0 0;
}

main section div .album .list-box {
    display: flex;
    gap: 1vw;
    width: 100%;
}

/*flexbasis gör att dem två gula boxarna blir lika stora oavsett innehåll.
Flex-basis läggs alltid på barnet
flex-grow för att ta ut 100% av sin förälders bredd*/
.list-box ol {
    background-color: #eecb00;
    color: #cf62ab;

    flex-basis: 0;
    flex-grow: 1;

    font-size: 1vw;

    margin: 0;
    padding: 2vw;
}

.list-box ol:first-child {
    border-radius: 0 0 0 10px;
}

.list-box ol:last-child {
    border-radius: 0 0 10px 0;
}

div.content p:first-of-type {
    margin-bottom: 0;
}

div.content ul {
    margin-top: 0;
    list-style-type: none;
}

.content ul,
.content p {
    font-family: "barlow condense light";
    font-size: 1.5vw;
}

h4 {
    margin-bottom: 0;
}

/* börjar med bottom-row och gör den till en grid*/
main section div.bottom-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;

    gap: 0.5vw;
    margin: 1vw;
}

main section div.bottom-row p:first-child {
    background-color: #bc559a;
    color: #ddbc00;

    grid-column: 1;
    grid-row: 1;
    border-radius: 10px 0 10px 10px;
}

main section div.bottom-row p:nth-child(2) {
    background-color: #bc559a;
    color: #ddbc00;

    grid-column: 3 / span 2;
    grid-row: 1;
    border-radius: 10px 10px 10px 0;
}

main section div.bottom-row img {
    grid-column: 5;
    grid-row: 1;

    width: 100%;
    height: 100%;

    border-radius: 0 10px 10px 10px;
}

.bottom-row p:nth-child(4) {
    grid-column: 5;
    grid-row: 1;

    z-index: 1;
    color: white;
    align-self: end;

}

.bottom-row p:nth-child(5) {
    background-color: #bc559a;
    color: #ddbc00;

    grid-column: 6;
    grid-row: 1;

    border-radius: 10px 10px 0 10px;
}

.bottom-row p {
    margin: 0;
    font-size: 1.5vw;
    font-family: "barlow condense light";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}

/*10/10 tillsammans*/

.album li {
    margin-left: 1vw;
}

.album ol h4 {
    font-size: 1.5vw;
    font-family: "barlow condense light";
}